:root {
	--color-bg: #fdfdfd;
	--color-bg-dark: #f0f0f0;
	--color-fg: #222;
	--color-accent: #393;
}

body {
	--webkit-font-smoothing: antialiased;
	--moz-osx-font-smoothing: grayscale;
	background-color: var(--color-bg);
	color: var(--color-fg);
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
  background: var(--color-accent);
  color: var(--color-bg);
}
::selection {
  background: var(--color-accent);
  color: var(--color-bg);
}

a {
	color: var(--color-fg);
}


table {
	max-width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid var(--color-accent);
	border-top: 1px solid var(--color-accent);
}

td, th {
	height: 50px;
	vertical-align: middle;
	padding: 3px 15px;
}
thead {
	text-align: center;
	border-bottom: 1px solid var(--color-accent);
}
/*
thead th:nth-child(1) {
  width: 60%;
}
*/
tbody tr:nth-child(odd){
  background-color: #f8f8f8;
}
tbody tr:hover {
	background-color: var(--color-bg-dark);
}

nav ul {
	list-style-type: none;
	display: flex;
	padding: 0px;
}

nav ul li {
	padding: 0px 15px;
	font-size: 18pt;
}

nav ul li a {
	color: var(--color-accent);
}

section.weeks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	gap: 10px 10px;
}

div.week {
	/*border: 2px black solid;*/
	width: 20%;
	flex-grow: 1;
	padding: 5px 15px;
	background-color: var(--color-bg-dark);
}

div.week h1 {
	font-size: 14pt;
}

div.this-week {
	border: 5px solid;
	border-color: var(--color-accent);
	/*box-shadow: inset 5px var(--color-accent);*/
}

div.past-week {
	/*background-color: #ddd;*/
	opacity: 60%;
	filter: brightness(0.8);
}

ul.conflist {
	list-style-type: none;
	padding: 0;
}

ul.conflist li {
	padding: 2px 5px;
}

ul.legend-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
ul.legend-list li {
	margin: 0px 10px;
	padding: 2px 5px;
}

.topic-signal-processing {
	background-color: #9ee493;
}
.topic-communications {
	/*background-color: #f29195;*/
	background-color: #F18383;
}
.topic-information-theory {
	background-color: #7bdff2;
}
.topic-vehicular-technology {
	background-color: #ffbb5c;
}

.flagship {
	filter: saturate(200%);
}
.conference {
	filter: saturate(100%);
}
.workshop {
	filter: saturate(80%);
}
